#nav {
    background-color: rgb(192, 191, 191);
}

.img-container {
    max-width: 900px;
    margin: auto;
}

.imgfb {
    width: 100%;
}
.imggg {
    width: 100%;
}

.imgc {
    max-width: 600px;
    margin: auto;
}
.imgc img {
    width: 100%;
}
.linec {
    width: 250px;
}
.linec img {
    width: 100%;
}

.myline {
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}
.myline img {
    width: 100%;
    border-radius: 50%;
}
.imgp {
    width:100%;

    height: auto;
}

.ximg {
    width: 300px;
}
.yt {
    border-radius: 20px;
    box-shadow: 0px 2px 1px 5px #000;

}

p, h3, h4, h5, h6 {
    color: #000;
}

footer>p{
    padding-left: 15px;
    padding-right: 15px;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  img.bounce {
    animation: bounce 3s infinite;
  }
  
